<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script> -->
    <!-- <script type='text/javascript' src='/javascripts/jquery.js'></script> -->
    <script type='text/javascript' src='/javascripts/deathCalc.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
