body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  font-size: 23px;
  text-align: center;

}

h1 {
  color: rgb(179, 16, 16);
  font-size: 70px;
}

li {
  list-style: none;
}
